{
  "openapi": "3.0.1",
  "info": {
    "title": "Vortex API reference",
    "description": "Vortex API is a RESTful API that can be accessed by an HTTP client such as `curl`, or any HTTP library which is part of most modern programming languages. This API reference is autogenerated from [protocol buffers](https://developers.google.com/protocol-buffers) defined in this [repository](https://github.com/nightblue-io/vortex-proto).\n\nSome endpoints, especially those that return lists of resources, have streaming responses; newline-separated stream of “chunks”. Each chunk is an envelope that can contain either a response message or an error. Only the last chunk will include an error, if any.",
    "version": "alpha"
  },
  "servers": [
    {
      "url": "https://api.nightblue.io/"
    }
  ],
  "tags": [
    {
      "name": "Vortex",
      "description": "(ALPHA) Vortex API. Base URL: https://api.nightblue.io",
      "externalDocs": {
        "description": "See here for the service definition.",
        "url": "https://github.com/nightblue-io/vortex-proto/tree/main/vortex/v1"
      }
    },
    {
      "name": "Iam",
      "description": "(ALPHA) IAM API. Base URL: https://api.nightblue.io",
      "externalDocs": {
        "description": "See here for the service definition.",
        "url": "https://github.com/nightblue-io/vortex-proto/tree/main/iam/v1"
      }
    }
  ],
  "paths": {
    "/vortex/iam/v0/whoami": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "Testing endpoint.",
        "operationId": "Iam_WhoAmI",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1WhoAmIResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/vortex/v0/info": {
      "get": {
        "tags": [
          "Vortex"
        ],
        "summary": "Testing endpoint.",
        "operationId": "Vortex_GetInfo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "protobufAny": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "object"
        }
      },
      "rpcStatus": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            }
          }
        }
      },
      "v1GetInfoResponse": {
        "type": "object",
        "properties": {
          "info": {
            "type": "string"
          }
        },
        "description": "Request message for the GetInfo rpc."
      },
      "v1WhoAmIResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        },
        "description": "Request message for the WhoAmI rpc."
      }
    }
  },
  "x-original-swagger-version": "2.0"
}
